<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858853107155-rg590e8uvbroal4ed8m9k041rl7u1ttu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858853107155-rg590e8uvbroal4ed8m9k041rl7u1ttu</string>
	<key>API_KEY</key>
	<string>AIzaSyAesiekDgfhLQB_Qp8H2nNrwzzpjBzlbLc</string>
	<key>GCM_SENDER_ID</key>
	<string>858853107155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BrotskyWallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-16e08</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-16e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858853107155:ios:039eed5b395faab584bb26</string>
</dict>
</plist>